<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         requireCoverageMetadata="false"
         beStrictAboutCoverageMetadata="false"
         beStrictAboutOutputDuringTests="true"
         convertDeprecationsToExceptions="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true"
         colors="true">
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">app</directory>
            <directory suffix=".php">core</directory>
        </include>
    </coverage>

    
    <php>
        <var name="DB_USER" value="root" />
        <var name="DB_PASS" value="" />
        <var name="DB_DBNAME" value="bblog" />
        <var name="DB_HOST" value="localhost" />
        <var name="DB_PORT" value="3366" />
    </php>
</phpunit>
